@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('https://www.gamespot.com/a/uploads/screen_kubrick/1601/16018044/3976397-ps2-startup.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  opacity: 0.15;
  filter: blur(0.75rem) brightness(125%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button:hover {
  border-color: #9d72ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.15s ease, text-shadow 0.15s ease;
  text-shadow: 0 0 10px rgba(100, 108, 255, 0.5);
}
a:hover {
  color: #ad80ff;
  text-shadow: 0 0 10px rgba(173, 128, 255, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-light-primary bg-light-background;
  }
  div.glow {
    text-shadow: 0 0 10px rgba(100, 108, 255, 0.25);
  }
  button {
    @apply bg-light-buttonSecondary border border-indigo-500 border-opacity-50;
  }
  a:hover {
    color: #8e51ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply text-dark-primary bg-dark-background;
  }
  div.glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  }
  button {
    @apply bg-dark-buttonSecondary border border-indigo-500 border-opacity-50;
  }
  a {
    color: #8187fd;
  }
}

.site-logo {
  font-family: "Nabla", system-ui;
}
.fading-line::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent, #9295f7, transparent);
  margin-bottom: 2rem;
}